body{
    background-image: url("../Images/pexels-photo-301717.jpg");
}


p {
    text-align: center;
    font-size: 60px;
    font-family: 'Nixie One', cursive;
}

.home {
    text-align: right;
    margin: 20px 20px;
}

.home input {
    float: left;
}

.home input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.home input[type=text]:focus {
    width: 90%;
}

footer{
    position:fixed;
    height:50px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    text-align: center;
    color: rgba(1,2,3,0.68);
    z-index: 999;
}

.container {
    height: 72px;
    width: 85%;
    z-index: 997;
    margin-left: 7%;
    background-color: rgba(255, 255, 255, 0.4);
    
        
}