

a {
    color: black;
    
}

.navigation {
  background-color: rgba(255, 255, 255, 0.9);
  height: auto;
  width: 100%;
  text-align: center;
  position: static;
  left: 0;
  top: 0;
  z-index: 998;
}

.navigation ul {
  padding: 0;
}

.navigation li {
  color: #666666;
  display: inline-block;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 26px;
  font-weight: 100;
  word-spacing: 3px;
  letter-spacing: 3px;
  margin: 30px;
  text-transform: uppercase;
}

.navigation li a:hover {
    color: aliceblue;
    background-color: #3D3D3D;
}

#home {
    text-align: right;
    position: relative;
    margin: 20px 20px;
}

#home input {
    float: left;
}

#home input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
#home input[type=text]:focus {
    width: 90%;
}

.shopsection {
    height: auto;
    width: 70%;
    text-align: center;
    position: static;
    margin-left: 15.5%;
    margin-right: 10%;
    z-index: 998;
    
}


.product_box {
    float: left;
	width: 25%;
	text-align: center;
	margin-top: 2.1875rem;
    margin-bottom: 1.5rem;
	padding-bottom: 20px;
	border-bottom: 5px solid #ccc;
    border-top: 5px solid #ccc;
    position: relative;
    z-index: 999;
    display: inline-block;
    background-color: #e6eeff;
    
}

.product_box p {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

.product_box img {
	margin-bottom: 5px;
}
.product_box h3 {
    font-family: 'Kaushan Script', cursive;
	font-size: 18px;
	color: #000;
	font-weight: 700;
	margin-bottom: 10px;
}
.product_box .product_price {
	color: #11bdd1;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 20px;
}


h1 { 
    color: #333; 
    font-weight: normal;
    font-style: italic;
    font-size: 18px;
    margin: 0 0 30px; 
    padding: 5px 0;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
}


footer{
    position:fixed;
    height:50px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    text-align: center;
    color: rgba(1,2,3,0.68);
    z-index: 999;
}

.blank {
    height: 55;
    padding: 520px
}